.carousel
  overflow: hidden
  position: relative
  width: 100%

.carousel__list
  padding: 0
  &.animate
    +transition(all 0.15s ease-out)

.carousel__item
  list-style: none
  float: left

.carousel__image
  pointer-events: none
  width: 100%
  +border-radius(3px)

.carousel__indicators
  bottom: 0
  font-size: 20px
  line-height: 1
  left: 0
  padding: 0
  position: absolute
  right: 0
  text-align: center

.carousel__indicator
  +opacity(0.3)
  +transition(opacity 0.1s ease-in-out)
  color: $white
  display: inline-block
  list-style-type: none
  padding: 0 6px
  &.is-active
    +opacity(1)
