$carousel-padding: 0.5 * $grid-gutter-width

.carousel__wrapper
  overflow: hidden
  position: relative
  @media (max-width: $screen-xs-max)
    margin: 0 (-$carousel-padding)

.carousel__frame
  overflow: hidden
  position: relative
  width: 100%

.carousel__list
  padding: 0
  margin: 0

.carousel__item
  list-style: none
  float: left
  @media (max-width: $screen-xs-max)
    padding: 0 $carousel-padding

.carousel__image
  pointer-events: none
  width: 100%
  height: 100%

  @media (max-width: $screen-xs-max)
    +border-radius

$indicator-size: 20px

.carousel__return-indicator
  font-size: $indicator-size
  height: $indicator-size
  line-height: $indicator-size
  margin-top: -$indicator-size / 2
  position: absolute
  right: -$indicator-size
  text-align: center
  top: 50%
  width: $indicator-size

.carousel-counter
  +user-select(none)
  color: $text-color-faint
  cursor: pointer
  font-size: $font-size-sm
  font-weight: normal
  font-style: italic
