.comparator
  +border-radius
  background-color: $white
  border: 1px solid $border-light
  position: relative

.comparator__outer-wrapper
  bottom: 0
  overflow: hidden
  position: absolute
  top: 0

.comparator__outer-wrapper--before
  left: 0

.comparator__outer-wrapper--after
  right: 0

.comparator__inner-wrapper
  position: absolute
  top: 0
  bottom: 0

.comparator__inner-wrapper--before
  left: 0

.comparator__inner-wrapper--after
  right: 0

.comparator__image
  +border-radius
  display: block
  width: 100%

.comparator__label
  position: absolute
  background-color: #333
  color: rgba($white, 0.6)
  font-size: 10px
  letter-spacing: 1px
  padding: 5px 10px
  text-transform: uppercase
  top: 0
  right: 0
  display: none

.comparator__label--after
  text-align: right

$handle-size: 30px
$handle-border: 4px

.comparator__handle
  height: 100%
  margin-left: -$handle-size / 2
  position: absolute
  top: 0
  width: $handle-size

.comparator__handle__divider
  background-color: $comparator-border
  height: 100%
  left: 50%
  margin-left: -1px
  position: absolute
  top: 0
  width: 2px
  .is-dragging &
    background-color: $comparator-active-border

.comparator__handle__handle
  +border-radius(($handle-size + 2 * $handle-border) / 2)
  +box-shadow(0 1px 0 rgba($white, 0.3) inset)
  background-color: $comparator-handle-bg
  border: $handle-border solid rgba($black, 0.15)
  height: $handle-size + 2 * $handle-border
  left: 50%
  margin-left: -($handle-size + 2 * $handle-border) / 2
  position: absolute
  bottom: 10px - $handle-border
  width: $handle-size + 2 * $handle-border
  &:after
    +font-awesome
    font-size: 12px
    content: $fa-var-arrow-right
    color: rgba($white, 0.6)
    text-align: center
    display: block
    line-height: $handle-size

  .is-dragging &
    background-color: $comparator-active-handle-bg

.comparator__info
  margin: 10px 0 5px

.comparator__info__title
  margin: 0
