$duration-exit: 0.15s
$duration-enter: 3s

.header
  +transition(box-shadow $duration-exit ease-in-out, background $duration-exit ease-in-out, color $duration-exit ease-in-out)
  background: $body-bg
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  box-shadow: 0 2px 3px rgba(0,0,0,0)

  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

  @media (max-width: $screen-xs-max)
    margin-bottom: 20px

.header--scrolled
  +transition-duration($duration-enter)
  box-shadow: 0 2px 3px rgba(0,0,0,0.18)
  background: rgba(255,255,255,0.92)

.header__inner
  +transition(padding $duration-exit ease-in-out, border $duration-exit ease-in-out)
  border-bottom: 1px solid #aaa
  padding: 15px 0
  position: relative

  .header--scrolled &
    +transition-duration($duration-enter)
    padding: 10px 0
    border: 0

.header__logo
  +transition(transform $duration-exit ease-in-out)
  float: left
  height: 34px
  left: 0
  position: absolute
  top: 15px
  width: 50px
  transform-origin: 0 -16px

  .header--scrolled &
    +transition-duration($duration-enter)
    transform: scale(0.6)

.header__content
  +transition(margin $duration-exit ease-in-out)
  margin-left: 60px

  .header--scrolled &
    +transition-duration($duration-enter)
    margin-left: 38px

.header__name
  +transition(margin $duration-exit ease-in-out)
  margin-top: 4px
  font-weight: bold

  .header--scrolled &
    +transition-duration($duration-enter)
    margin-top: 2px

.header__position
  +transition(height $duration-exit ease-in-out, opacity $duration-exit ease-in-out)
  color: $text-color-secondary
  font-style: italic
  font-size: $font-size-sm
  height: 16px
  line-height: 16px

  .header--scrolled &
    +transition-duration($duration-enter)
    opacity: 0
    height: 0

.header-spacer
  height: 90px
