=background-size($size)
  -webkit-background-size: $size
  -moz-background-size: $size
  -o-background-size: $size
  background-size: $size

=border-radius($radius: $border-radius-default)
  -moz-border-radius: $radius
  -o-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius
  background-clip: padding-box

=border-radius-top($radius: $border-radius-default)
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box

=border-radius-bottom($radius: $border-radius-default)
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  background-clip: padding-box

=box-shadow($shadow)
  -moz-box-shadow: $shadow
  -o-box-shadow: $shadow
  -webkit-box-shadow: $shadow
  box-shadow: $shadow

=box-sizing($sizing)
  -moz-box-sizing: $sizing
  -o-box-sizing: $sizing
  -webkit-box-sizing: $sizing
  box-sizing: $sizing

=clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

=font-awesome
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)

=opacity($opacity)
  -webkit-opacity: $opacity
  -moz-opacity: $opacity
  opacity: $opacity

=transform($transform...)
  -webkit-transform: $transform
  -ms-transform: $transform
  transform: $transform

=transition($transition...)
  -moz-transition: $transition
  -o-transition: $transition
  -webkit-transition: $transition
  transition: $transition

=user-select($select)
  -webkit-user-select: $select
  -moz-user-select: $select
  -ms-user-select: $select
  -o-user-select: $select
  user-select: $select

