.navigation
  background-color: rgba($white, 0.96)
  border-bottom: 1px solid $border-light
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: $z-index-navigation

.navigation-placeholder
  height: $header-height-mobile
  margin-bottom: 20px
  width: 100%

.navigation__logo
  position: absolute
  overflow: hidden
  width: 50px
  height: 34px
  transform: scale(0.6)
  top: 4px
  left: 5px

  .logo-path
    fill: $text-color

.navigation__list
  display: flex
  justify-content: flex-end
  align-items: center
  height: $header-height-mobile
  margin: 0
  padding: 0 15px

.navigation__item
  list-style: none

.navigation__item a
  +opacity(0.2)
  color: inherit
  display: block
  padding: 10px 7px
  position: relative
  text-decoration: none
  top: 1px

  &.active,
  .navigation--home &
    +opacity(1)

.navigation__item__text
  display: block

