.clearfix
  +clearfix

.divider--short
  margin: 25px 25% 20px
  border-bottom: 1px solid $border-light

  @media (min-width: $screen-md-min)
    margin-top: 35px
    margin-bottom: 30px

.flush-top
  margin-top: 0

.hidden-xs
  @media (max-width: $screen-xs-max)
    display: none

.image-rounded-corners
  +border-radius
  display: block

.push-bottom
  margin-bottom: 25px

  @media (min-width: $screen-md-min)
    margin-bottom: 35px

.push-top
  margin-top: 25px

.push-bottom-sm
  margin-bottom: 15px

.push-bottom-xs
  margin-bottom: 8px

  @media (min-width: $screen-md-min)
    margin-bottom: 10px

.push-top-xs
  margin-top: 7px

.pull-left
  float: left

.pull-right
  float: right

.relative-box
  position: relative

.text-center
  text-align: center

.text-muted
  color: $text-color-faint
