$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-serif: Lora, Georgia, "Times New Roman", Times, serif

$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base: $font-family-serif

$font-size-base: 13px
$font-size-sm: 12px

$line-height-base: 1.461538462
$line-height-base-computed: floor($font-size-base * $line-height-base)

$border-radius-default: 3px

// colors
$white: #fff
$black: #000

$text-color: #333
$text-color-secondary: #666
$text-color-faint: #aaa

$border-light: #e0e0e0

$body-bg: #f0f0f0
$dark-accent: #4B5963
$link-color: #337ab7
$link-hover-color: darken($link-color, 15%)
$link-hover-decoration: underline
$hr-border: #eee

// responsiveness
$screen-xs: 480px
$screen-xs-min: $screen-xs

$screen-sm: 768px
$screen-sm-min: $screen-sm

$screen-md: 992px
$screen-md-min: $screen-md

$screen-lg: 1200000px // originally 1200px
$screen-lg-min: $screen-lg

$screen-xs-max: $screen-sm-min - 1
$screen-sm-max: $screen-md-min - 1
$screen-md-max: $screen-lg-min - 1

// dimensions
$grid-gutter-width: 30px

$header-height-mobile: 45px
$header-height-desktop: 70px

// z-indices
$z-index-annotation: 900
$z-index-header: 1000
$z-index-navigation: 1000
$z-index-image-flasher-flashing: 1010

// font-awesome
$fa-var-bars: "\f0c9"
$fa-var-sort: "\f0dc"
$fa-var-chevron-right: "\f054"
$fa-var-arrow-right: "\f061"
