@import variables
@import mixins
@import normalize
@import reset
@import font-awesome
@import animations
@import grid
@import utilities

@import before-after
@import carousel
@import image-flasher
@import header
@import navigation
@import typography
@import work-section

body
  padding-top: $header-height-mobile + 20px

  @media (min-width: $screen-sm-min)
    padding-top: $header-height-desktop + 25px

  @media (min-width: $screen-md-min)
    padding-top: $header-height-desktop + 35px

.home__title
  +transition(all 0.06s ease-in)
  color: $text-color-header
  font-family: "Raleway", sans-serif
  font-weight: 900
  text-transform: uppercase
  font-size: 16px
  letter-spacing: 0.5px
  border-bottom: 8px solid $text-color-header
  display: inline-block
  padding: 0 10px 5px
  margin-bottom: 15px
  position: relative

  .is-flashing &
    color: $white
    border-color: $white
    -webkit-transform: scale3d(1.2, 1.2, 1)
    transform: scale3d(1.2, 1.2, 1)

.page-footer-icon
  font-size: 18px
  padding: 5px
  cursor: pointer
  color: $text-color-header

.mobile-home-footer
  position: fixed
  bottom: 15px
  left: 0
  right: 0
  text-align: center
