hr,
img {
  border: 0
}
legend,
td,
th {
  padding: 0
}
a,
a:focus,
a:hover {
  text-decoration: none
}
body,
figure {
  margin: 0
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.pull-left {
  float: left
}
.before-after-buttons:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both
}
.before-after-button,
.text-center {
  text-align: center
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}
audio:not([controls]) {
  display: none;
  height: 0
}
[hidden],
template {
  display: none
}
.fa,
.fa-stack {
  display: inline-block
}
a {
  background-color: transparent;
  color: #337ab7
}
a:active,
a:hover {
  outline: 0
}
abbr[title] {
  border-bottom: 1px dotted
}
b,
optgroup,
strong {
  font-weight: 700
}
dfn {
  font-style: italic
}
h1 {
  font-size: 2em
}
mark {
  background: #ff0;
  color: #000
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  vertical-align: middle
}
svg:not(:root) {
  overflow: hidden
}
hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 19px;
  margin-bottom: 19px;
  border-top: 1px solid #eee
}
pre,
textarea {
  overflow: auto
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}
button {
  overflow: visible
}
button,
select {
  text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}
button[disabled],
html input[disabled] {
  cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}
*,
.before-after-button,
:after,
:before {
  box-sizing: border-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}
legend {
  border: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
body {
  font-family: Lora, Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.46154;
  color: #666;
  background-color: #f0f0f0
}
@media (min-width: 992px) {
  body {
    font-size: 14px
  }
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
a:focus,
a:hover {
  color: #22527b
}
a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}
ul {
  margin: 9.5px 0;
  padding-left: 20px
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}
[role=button] {
  cursor: pointer
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0
}
.h4,
h2,
h4 {
  font-weight: 700
}
.work-section__title,
h3 {
  text-transform: uppercase
}
.before-after,
.image-rounded-corners {
  background-clip: padding-box;
  border-radius: 3px
}
.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table
}
@-webkit-keyframes wiggle {
  100%, from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  16.7%,
  50%,
  83.3% {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0)
  }
  33.3%,
  67.7% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0)
  }
}
@keyframes wiggle {
  100%, from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  16.7%,
  50%,
  83.3% {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0)
  }
  33.3%,
  67.7% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0)
  }
}
.wiggle {
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out
}
@media (min-width: 768px) {
  .container {
    width: 750px
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}
.col-xs-1 {
  width: 8.33333%
}
.col-xs-2 {
  width: 16.66667%
}
.col-xs-3 {
  width: 25%
}
.col-xs-4 {
  width: 33.33333%
}
.col-xs-5 {
  width: 41.66667%
}
.col-xs-6 {
  width: 50%
}
.col-xs-7 {
  width: 58.33333%
}
.col-xs-8 {
  width: 66.66667%
}
.col-xs-9 {
  width: 75%
}
.col-xs-10 {
  width: 83.33333%
}
.col-xs-11 {
  width: 91.66667%
}
.col-xs-12 {
  width: 100%
}
.col-xs-pull-0 {
  right: auto
}
.col-xs-pull-1 {
  right: 8.33333%
}
.col-xs-pull-2 {
  right: 16.66667%
}
.col-xs-pull-3 {
  right: 25%
}
.col-xs-pull-4 {
  right: 33.33333%
}
.col-xs-pull-5 {
  right: 41.66667%
}
.col-xs-pull-6 {
  right: 50%
}
.col-xs-pull-7 {
  right: 58.33333%
}
.col-xs-pull-8 {
  right: 66.66667%
}
.col-xs-pull-9 {
  right: 75%
}
.col-xs-pull-10 {
  right: 83.33333%
}
.col-xs-pull-11 {
  right: 91.66667%
}
.col-xs-pull-12 {
  right: 100%
}
.col-xs-push-0 {
  left: auto
}
.col-xs-push-1 {
  left: 8.33333%
}
.col-xs-push-2 {
  left: 16.66667%
}
.col-xs-push-3 {
  left: 25%
}
.col-xs-push-4 {
  left: 33.33333%
}
.col-xs-push-5 {
  left: 41.66667%
}
.col-xs-push-6 {
  left: 50%
}
.col-xs-push-7 {
  left: 58.33333%
}
.col-xs-push-8 {
  left: 66.66667%
}
.col-xs-push-9 {
  left: 75%
}
.col-xs-push-10 {
  left: 83.33333%
}
.col-xs-push-11 {
  left: 91.66667%
}
.col-xs-push-12 {
  left: 100%
}
.col-xs-offset-0 {
  margin-left: 0
}
.col-xs-offset-1 {
  margin-left: 8.33333%
}
.col-xs-offset-2 {
  margin-left: 16.66667%
}
.col-xs-offset-3 {
  margin-left: 25%
}
.col-xs-offset-4 {
  margin-left: 33.33333%
}
.col-xs-offset-5 {
  margin-left: 41.66667%
}
.col-xs-offset-6 {
  margin-left: 50%
}
.col-xs-offset-7 {
  margin-left: 58.33333%
}
.col-xs-offset-8 {
  margin-left: 66.66667%
}
.col-xs-offset-9 {
  margin-left: 75%
}
.col-xs-offset-10 {
  margin-left: 83.33333%
}
.col-xs-offset-11 {
  margin-left: 91.66667%
}
.col-xs-offset-12 {
  margin-left: 100%
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left
  }
  .col-sm-1 {
    width: 8.33333%
  }
  .col-sm-2 {
    width: 16.66667%
  }
  .col-sm-3 {
    width: 25%
  }
  .col-sm-4 {
    width: 33.33333%
  }
  .col-sm-5 {
    width: 41.66667%
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-7 {
    width: 58.33333%
  }
  .col-sm-8 {
    width: 66.66667%
  }
  .col-sm-9 {
    width: 75%
  }
  .col-sm-10 {
    width: 83.33333%
  }
  .col-sm-11 {
    width: 91.66667%
  }
  .col-sm-12 {
    width: 100%
  }
  .col-sm-pull-0 {
    right: auto
  }
  .col-sm-pull-1 {
    right: 8.33333%
  }
  .col-sm-pull-2 {
    right: 16.66667%
  }
  .col-sm-pull-3 {
    right: 25%
  }
  .col-sm-pull-4 {
    right: 33.33333%
  }
  .col-sm-pull-5 {
    right: 41.66667%
  }
  .col-sm-pull-6 {
    right: 50%
  }
  .col-sm-pull-7 {
    right: 58.33333%
  }
  .col-sm-pull-8 {
    right: 66.66667%
  }
  .col-sm-pull-9 {
    right: 75%
  }
  .col-sm-pull-10 {
    right: 83.33333%
  }
  .col-sm-pull-11 {
    right: 91.66667%
  }
  .col-sm-pull-12 {
    right: 100%
  }
  .col-sm-push-0 {
    left: auto
  }
  .col-sm-push-1 {
    left: 8.33333%
  }
  .col-sm-push-2 {
    left: 16.66667%
  }
  .col-sm-push-3 {
    left: 25%
  }
  .col-sm-push-4 {
    left: 33.33333%
  }
  .col-sm-push-5 {
    left: 41.66667%
  }
  .col-sm-push-6 {
    left: 50%
  }
  .col-sm-push-7 {
    left: 58.33333%
  }
  .col-sm-push-8 {
    left: 66.66667%
  }
  .col-sm-push-9 {
    left: 75%
  }
  .col-sm-push-10 {
    left: 83.33333%
  }
  .col-sm-push-11 {
    left: 91.66667%
  }
  .col-sm-push-12 {
    left: 100%
  }
  .col-sm-offset-0 {
    margin-left: 0
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%
  }
  .col-sm-offset-3 {
    margin-left: 25%
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%
  }
  .col-sm-offset-6 {
    margin-left: 50%
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%
  }
  .col-sm-offset-9 {
    margin-left: 75%
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%
  }
  .col-sm-offset-12 {
    margin-left: 100%
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left
  }
  .col-md-1 {
    width: 8.33333%
  }
  .col-md-2 {
    width: 16.66667%
  }
  .col-md-3 {
    width: 25%
  }
  .col-md-4 {
    width: 33.33333%
  }
  .col-md-5 {
    width: 41.66667%
  }
  .col-md-6 {
    width: 50%
  }
  .col-md-7 {
    width: 58.33333%
  }
  .col-md-8 {
    width: 66.66667%
  }
  .col-md-9 {
    width: 75%
  }
  .col-md-10 {
    width: 83.33333%
  }
  .col-md-11 {
    width: 91.66667%
  }
  .col-md-12 {
    width: 100%
  }
  .col-md-pull-0 {
    right: auto
  }
  .col-md-pull-1 {
    right: 8.33333%
  }
  .col-md-pull-2 {
    right: 16.66667%
  }
  .col-md-pull-3 {
    right: 25%
  }
  .col-md-pull-4 {
    right: 33.33333%
  }
  .col-md-pull-5 {
    right: 41.66667%
  }
  .col-md-pull-6 {
    right: 50%
  }
  .col-md-pull-7 {
    right: 58.33333%
  }
  .col-md-pull-8 {
    right: 66.66667%
  }
  .col-md-pull-9 {
    right: 75%
  }
  .col-md-pull-10 {
    right: 83.33333%
  }
  .col-md-pull-11 {
    right: 91.66667%
  }
  .col-md-pull-12 {
    right: 100%
  }
  .col-md-push-0 {
    left: auto
  }
  .col-md-push-1 {
    left: 8.33333%
  }
  .col-md-push-2 {
    left: 16.66667%
  }
  .col-md-push-3 {
    left: 25%
  }
  .col-md-push-4 {
    left: 33.33333%
  }
  .col-md-push-5 {
    left: 41.66667%
  }
  .col-md-push-6 {
    left: 50%
  }
  .col-md-push-7 {
    left: 58.33333%
  }
  .col-md-push-8 {
    left: 66.66667%
  }
  .col-md-push-9 {
    left: 75%
  }
  .col-md-push-10 {
    left: 83.33333%
  }
  .col-md-push-11 {
    left: 91.66667%
  }
  .col-md-push-12 {
    left: 100%
  }
  .col-md-offset-0 {
    margin-left: 0
  }
  .col-md-offset-1 {
    margin-left: 8.33333%
  }
  .col-md-offset-2 {
    margin-left: 16.66667%
  }
  .col-md-offset-3 {
    margin-left: 25%
  }
  .col-md-offset-4 {
    margin-left: 33.33333%
  }
  .col-md-offset-5 {
    margin-left: 41.66667%
  }
  .col-md-offset-6 {
    margin-left: 50%
  }
  .col-md-offset-7 {
    margin-left: 58.33333%
  }
  .col-md-offset-8 {
    margin-left: 66.66667%
  }
  .col-md-offset-9 {
    margin-left: 75%
  }
  .col-md-offset-10 {
    margin-left: 83.33333%
  }
  .col-md-offset-11 {
    margin-left: 91.66667%
  }
  .col-md-offset-12 {
    margin-left: 100%
  }
}
@media (min-width: 1200000px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left
  }
  .col-lg-1 {
    width: 8.33333%
  }
  .col-lg-2 {
    width: 16.66667%
  }
  .col-lg-3 {
    width: 25%
  }
  .col-lg-4 {
    width: 33.33333%
  }
  .col-lg-5 {
    width: 41.66667%
  }
  .col-lg-6 {
    width: 50%
  }
  .col-lg-7 {
    width: 58.33333%
  }
  .col-lg-8 {
    width: 66.66667%
  }
  .col-lg-9 {
    width: 75%
  }
  .col-lg-10 {
    width: 83.33333%
  }
  .col-lg-11 {
    width: 91.66667%
  }
  .col-lg-12 {
    width: 100%
  }
  .col-lg-pull-0 {
    right: auto
  }
  .col-lg-pull-1 {
    right: 8.33333%
  }
  .col-lg-pull-2 {
    right: 16.66667%
  }
  .col-lg-pull-3 {
    right: 25%
  }
  .col-lg-pull-4 {
    right: 33.33333%
  }
  .col-lg-pull-5 {
    right: 41.66667%
  }
  .col-lg-pull-6 {
    right: 50%
  }
  .col-lg-pull-7 {
    right: 58.33333%
  }
  .col-lg-pull-8 {
    right: 66.66667%
  }
  .col-lg-pull-9 {
    right: 75%
  }
  .col-lg-pull-10 {
    right: 83.33333%
  }
  .col-lg-pull-11 {
    right: 91.66667%
  }
  .col-lg-pull-12 {
    right: 100%
  }
  .col-lg-push-0 {
    left: auto
  }
  .col-lg-push-1 {
    left: 8.33333%
  }
  .col-lg-push-2 {
    left: 16.66667%
  }
  .col-lg-push-3 {
    left: 25%
  }
  .col-lg-push-4 {
    left: 33.33333%
  }
  .col-lg-push-5 {
    left: 41.66667%
  }
  .col-lg-push-6 {
    left: 50%
  }
  .col-lg-push-7 {
    left: 58.33333%
  }
  .col-lg-push-8 {
    left: 66.66667%
  }
  .col-lg-push-9 {
    left: 75%
  }
  .col-lg-push-10 {
    left: 83.33333%
  }
  .col-lg-push-11 {
    left: 91.66667%
  }
  .col-lg-push-12 {
    left: 100%
  }
  .col-lg-offset-0 {
    margin-left: 0
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%
  }
  .col-lg-offset-3 {
    margin-left: 25%
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%
  }
  .col-lg-offset-6 {
    margin-left: 50%
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%
  }
  .col-lg-offset-9 {
    margin-left: 75%
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%
  }
  .col-lg-offset-12 {
    margin-left: 100%
  }
}
.before-after__inner-wrapper--before,
.before-after__outer-wrapper--before {
  right: 0
}
.divider--short {
  margin: 25px 25% 20px;
  border-bottom: 1px solid #e0e0e0
}
@media (min-width: 992px) {
  .divider--short {
    margin-top: 35px;
    margin-bottom: 30px
  }
}
.flush-top {
  margin-top: 0
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none
  }
}
.image-rounded-corners {
  display: block
}
.push-bottom {
  margin-bottom: 25px
}
@media (min-width: 992px) {
  .push-bottom {
    margin-bottom: 35px
  }
}
.push-top {
  margin-top: 25px
}
.push-bottom-sm {
  margin-bottom: 15px
}
.push-bottom-xs {
  margin-bottom: 8px
}
@media (min-width: 992px) {
  .push-bottom-xs {
    margin-bottom: 10px
  }
}
.push-top-xs {
  margin-top: 7px
}
.pull-right {
  float: right
}
.relative-box {
  position: relative
}
.text-muted {
  color: #aaa
}
.before-after {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  position: relative;
  cursor: pointer
}
.before-after--browser {
  border: 1px solid #d2d2d2;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box
}
.before-after__browser-chrome {
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  height: 20px;
  background-color: #d2d2d2;
  position: relative
}
.before-after__browser-chrome:before {
  content: "•••";
  color: #fff;
  position: absolute;
  letter-spacing: 5px;
  font-size: 18px;
  line-height: 20px;
  top: 1px;
  left: 10px
}
.before-after__outer-wrapper {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 0
}
.before-after__outer-wrapper--after {
  left: 0
}
.before-after__inner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0
}
.before-after-buttons,
.carousel__frame,
.carousel__wrapper {
  position: relative
}
.before-after__inner-wrapper--after {
  left: 0
}
.before-after__image {
  border-radius: 3px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  margin: 0 auto
}
.before-after--browser .before-after__image {
  border-radius: 0 0 3px 3px;
  background-clip: padding-box
}
.before-after-buttons:after,
.before-after-buttons:before {
  content: " ";
  display: table
}
@media (min-width: 992px) {
  .before-after-buttons {
    margin-top: -4px
  }
}
.before-after-buttons__background {
  border-radius: 3px;
  background: linear-gradient(#e8e8e8, #eaeaea);
  position: absolute;
  border: 1px solid #e0e0e0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
.before-after-buttons__indicator {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(50% - 3px);
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: 1px
}
.before-after-button {
  user-select: none;
  cursor: pointer;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  width: 50%;
  z-index: 1
}
.navigation__item {
  text-transform: uppercase;
  letter-spacing: .5px;
}
.home__title {
  font-family: Raleway, sans-serif
}
.before-after-button,
.carousel__header__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none
}
.carousel__wrapper {
  overflow: hidden
}
.carousel__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.carousel__header__info {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}
.carousel__header__counter {
  user-select: none;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  font-style: italic;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  min-width: 45px;
  text-align: right
}
@media (min-width: 992px) {
  .carousel__header__counter {
    font-size: 13px
  }
}
.carousel__frame {
  overflow: hidden;
  width: 100%
}
.carousel__list {
  padding: 0;
  margin: 0
}
.carousel__item {
  list-style: none;
  float: left
}
.carousel__image {
  pointer-events: none
}
.carousel__return-indicator {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  position: absolute;
  right: -20px;
  text-align: center;
  top: 50%;
  width: 20px
}
.image-flasher__image-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: background-color .1s ease-in-out;
  background-color: rgba(240, 240, 240, 0)
}
.is-showing .image-flasher__image-container {
  background-color: #f0f0f0
}
.image-flasher__image {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center
}
.image-flasher__trigger-container {
  left: 0;
  margin: -40px auto 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 50%;
  width: 250px;
  z-index: 1010
}
.image-flasher__trigger-logo {
  -webkit-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
  transition: -webkit-transform .03s linear;
  transition: transform .03s linear;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  width: 50px;
  margin-bottom: 30px
}
.image-flasher__message {
  left: 0;
  position: fixed;
  width: 100%
}
.image-flasher__message,
.image-flasher__message__part {
  transition: opacity .05s ease-in-out
}
.is-flashing .image-flasher__trigger-logo {
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3)
}
.image-flasher__trigger-logo .logo-path {
  fill: #333
}
.is-flashing .image-flasher__trigger-logo .logo-path {
  fill: #fff
}
.is-flashing .image-flasher__trigger-text {
  opacity: 0
}
.image-flasher__message {
  text-align: center;
  top: 20%
}
@media (max-width: 767px) {
  .carousel__image {
    border-radius: 3px;
    background-clip: padding-box
  }
}
.navigation {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0
}
.navigation__item {
  list-style: none;
  color: #333;
  font-size: 11px;
  font-weight: 700;
  line-height: 19px
}
@media (min-width: 768px) {
  .navigation__item {
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0
  }
}
@media (min-width: 992px) {
  .navigation__item {
    font-size: 14px
  }
}
.navigation__item a {
  opacity: .2;
  color: #333;
  display: block;
  line-height: 44px;
  padding: 1px 7px 0;
  vertical-align: center
}
.navigation--home .navigation__item a,
.navigation__item a.active {
  opacity: 1
}
.navigation__item__text {
  display: inline;
  padding-bottom: 3px
}
@media (min-width: 768px) {
  .navigation__item a {
    line-height: 70px;
    padding-top: 0
  }
  .active .navigation__item__text,
  .navigation__item__text:hover {
    border-bottom: 3px solid #333
  }
}
h2 {
  color: #333;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px
}
@media (min-width: 992px) {
  h2 {
    font-size: 20px
  }
}
.h4,
h3,
h4 {
  line-height: 19px;
  color: #333;
  font-size: 13px
}
h3 {
  letter-spacing: .5px;
  margin-bottom: 10px
}
.h4,
h4 {
  margin-bottom: 2px
}
@media (min-width: 992px) {
  .h4,
  h4 {
    font-size: 15px;
    margin-bottom: 5px
  }
}
strong {
  color: #333
}
.work-section {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 30px
}
.work-section:last-child {
  border-bottom: 0
}
.work-section__title {
  font-size: 13px;
  line-height: 19px;
  margin: 0 0 30px
}
@media (max-width: 767px) {
  .work-section {
    border-bottom: 1px solid #e0e0e0
  }
  .work-section__title {
    margin-bottom: 20px;
    font-size: 15px
  }
}
.position {
  margin-bottom: 30px
}
@media (max-width: 767px) {
  .position {
    margin-bottom: 20px
  }
}
.position__company {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0
}
.position__company:before {
  color: #666;
  content: \' // \'
}
.position__duration {
  font-style: italic;
  color: #666;
  font-size: 12px;
  line-height: 19px
}
body {
  padding-top: 65px
}
@media (min-width: 768px) {
  body {
    padding-top: 95px
  }
}
@media (min-width: 992px) {
  .position__duration {
    font-size: 13px
  }
  body {
    padding-top: 105px
  }
}
.home__title {
  transition: all .06s ease-in;
  color: #333;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .5px;
  border-bottom: 8px solid #333;
  display: inline-block;
  padding: 0 10px 5px;
  margin-bottom: 15px;
  position: relative
}
.is-flashing .home__title {
  color: #fff;
  border-color: #fff;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1)
}
.page-footer-icon {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  color: #333
}
.mobile-home-footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center
}
