* {
  box-sizing: border-box
}

body {
  padding-top: 65px;
  margin: 0;
  font-family: Lora, Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.46154;
  color: #666;
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  body {
    padding-top: 95px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 105px;
    font-size: 14px;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: #337ab7;
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0
}
strong {
  font-weight: 700
}
h1 {
  font-size: 2em
}
img {
  vertical-align: middle
}
a:focus,
a:hover {
  color: #22527b
}
a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0
}
.h4,
h2,
h4 {
  font-weight: 700
}
.work-section__title,
h3 {
  text-transform: uppercase
}
.flush-top {
  margin-top: 0
}
h2 {
  color: #333;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px
}
@media (min-width: 992px) {
  h2 {
    font-size: 20px
  }
}
.h4,
h3,
h4 {
  line-height: 19px;
  color: #333;
  font-size: 13px
}
h3 {
  letter-spacing: .5px;
  margin-bottom: 10px
}
.h4,
h4 {
  margin-bottom: 2px
}
@media (min-width: 992px) {
  .h4,
  h4 {
    font-size: 15px;
    margin-bottom: 5px
  }
}
strong {
  color: #333
}
.work-section {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 30px
}
.work-section:last-child {
  border-bottom: 0
}
.work-section__title {
  font-size: 13px;
  line-height: 19px;
  margin: 0 0 30px
}
@media (max-width: 767px) {
  .work-section {
    border-bottom: 1px solid #e0e0e0
  }
  .work-section__title {
    margin-bottom: 20px;
    font-size: 15px
  }
}
.position {
  margin-bottom: 30px
}
@media (max-width: 767px) {
  .position {
    margin-bottom: 20px
  }
}
.position__company {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0
}
.position__company:before {
  color: #666;
  content: " // ";
}
.position__duration {
  font-style: italic;
  color: #666;
  font-size: 12px;
  line-height: 19px
}
@media (min-width: 992px) {
  .position__duration {
    font-size: 13px
  }
}
