hr,
img {
  border: 0
}
legend,
td,
th {
  padding: 0
}
a,
a:focus,
a:hover {
  text-decoration: none
}
body,
figure {
  margin: 0
}
.before-after-buttons:after,
.clearfix:after,
.row:after {
  clear: both
}
.before-after-button,
.text-center {
  text-align: center
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}
audio:not([controls]) {
  display: none;
  height: 0
}
[hidden],
template {
  display: none
}
.fa,
.fa-stack {
  display: inline-block
}
a {
  background-color: transparent;
  color: #337ab7
}
a:active,
a:hover {
  outline: 0
}
abbr[title] {
  border-bottom: 1px dotted
}
b,
optgroup,
strong {
  font-weight: 700
}
dfn {
  font-style: italic
}
h1 {
  font-size: 2em
}
mark {
  background: #ff0;
  color: #000
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  vertical-align: middle
}
svg:not(:root) {
  overflow: hidden
}
hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 19px;
  margin-bottom: 19px;
  border-top: 1px solid #eee
}
pre,
textarea {
  overflow: auto
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}
button {
  overflow: visible
}
button,
select {
  text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}
button[disabled],
html input[disabled] {
  cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}
*,
.before-after-button,
:after,
:before {
  box-sizing: border-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}
legend {
  border: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
body {
  font-family: Lora, Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.46154;
  color: #666;
  background-color: #f0f0f0
}
@media (min-width: 992px) {
  body {
    font-size: 14px
  }
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
a:focus,
a:hover {
  color: #22527b
}
a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}
ul {
  margin: 9.5px 0;
  padding-left: 20px
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}
[role=button] {
  cursor: pointer
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0
}
.h4,
h2,
h4 {
  font-weight: 700
}
.work-section__title,
h3 {
  text-transform: uppercase
}
.before-after,
.image-rounded-corners {
  background-clip: padding-box;
  border-radius: 3px
}
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
  content: " ";
  display: table
}
@media (min-width: 768px) {
  .container {
    width: 750px
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px
  }
}
.before-after__inner-wrapper--before,
.before-after__outer-wrapper--before {
  right: 0
}
.divider--short {
  margin: 25px 25% 20px;
  border-bottom: 1px solid #e0e0e0
}
@media (min-width: 992px) {
  .divider--short {
    margin-top: 35px;
    margin-bottom: 30px
  }
}
.flush-top {
  margin-top: 0
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none
  }
}
.image-rounded-corners {
  display: block
}
.push-bottom {
  margin-bottom: 25px
}
@media (min-width: 992px) {
  .push-bottom {
    margin-bottom: 35px
  }
}
.push-top {
  margin-top: 25px
}
.push-bottom-sm {
  margin-bottom: 15px
}
.push-top-xs {
  margin-top: 7px
}
.pull-right {
  float: right
}
.relative-box {
  position: relative
}
.text-muted {
  color: #aaa
}
.before-after {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  position: relative;
  cursor: pointer
}
.before-after--browser {
  border: 1px solid #d2d2d2;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box
}
.before-after__browser-chrome {
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  height: 20px;
  background-color: #d2d2d2;
  position: relative
}
.before-after__browser-chrome:before {
  content: "•••";
  color: #fff;
  position: absolute;
  letter-spacing: 5px;
  font-size: 18px;
  line-height: 20px;
  top: 1px;
  left: 10px
}
.before-after__outer-wrapper {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 0
}
.before-after__outer-wrapper--after {
  left: 0
}
.before-after__inner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0
}
.before-after-buttons {
  position: relative
}
.before-after__inner-wrapper--after {
  left: 0
}
.before-after__image {
  border-radius: 3px;
  background-clip: padding-box;
  display: block;
  width: 100%;
  margin: 0 auto
}
.before-after--browser .before-after__image {
  border-radius: 0 0 3px 3px;
  background-clip: padding-box
}
.before-after-buttons:after,
.before-after-buttons:before {
  content: " ";
  display: table
}
@media (min-width: 992px) {
  .before-after-buttons {
    margin-top: -4px
  }
}
.before-after-buttons__background {
  border-radius: 3px;
  background: linear-gradient(#e8e8e8, #eaeaea);
  position: absolute;
  border: 1px solid #e0e0e0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
.before-after-buttons__indicator {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(50% - 3px);
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: 1px
}
.before-after-button {
  user-select: none;
  cursor: pointer;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  width: 50%;
  z-index: 1
}
.image-flasher__image-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: background-color .1s ease-in-out;
  background-color: rgba(240, 240, 240, 0)
}
.is-showing .image-flasher__image-container {
  background-color: #f0f0f0
}
.image-flasher__image {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center
}
.image-flasher__trigger-logo {
  -webkit-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
  transition: -webkit-transform .03s linear;
  transition: transform .03s linear;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  width: 50px;
  margin-bottom: 30px
}
.image-flasher__message {
  left: 0;
  position: fixed;
  width: 100%
}
.image-flasher__message,
.image-flasher__message__part {
  transition: opacity .05s ease-in-out
}
.is-flashing .image-flasher__trigger-logo {
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3)
}
.image-flasher__trigger-logo .logo-path {
  fill: #333
}
.is-flashing .image-flasher__trigger-logo .logo-path {
  fill: #fff
}
.image-flasher__message {
  text-align: center;
  top: 20%
}
h2 {
  color: #333;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px
}
@media (min-width: 992px) {
  h2 {
    font-size: 20px
  }
}
.h4,
h3,
h4 {
  line-height: 19px;
  color: #333;
  font-size: 13px
}
h3 {
  letter-spacing: .5px;
  margin-bottom: 10px
}
.h4,
h4 {
  margin-bottom: 2px
}
@media (min-width: 992px) {
  .h4,
  h4 {
    font-size: 15px;
    margin-bottom: 5px
  }
}
strong {
  color: #333
}
.work-section {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 30px
}
.work-section:last-child {
  border-bottom: 0
}
.work-section__title {
  font-size: 13px;
  line-height: 19px;
  margin: 0 0 30px
}
@media (max-width: 767px) {
  .work-section {
    border-bottom: 1px solid #e0e0e0
  }
  .work-section__title {
    margin-bottom: 20px;
    font-size: 15px
  }
}
.position {
  margin-bottom: 30px
}
@media (max-width: 767px) {
  .position {
    margin-bottom: 20px
  }
}
.position__company {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0
}
.position__company:before {
  color: #666;
  content: \' // \'
}
.position__duration {
  font-style: italic;
  color: #666;
  font-size: 12px;
  line-height: 19px
}
body {
  padding-top: 65px
}
@media (min-width: 768px) {
  body {
    padding-top: 95px
  }
}
@media (min-width: 992px) {
  .position__duration {
    font-size: 13px
  }
  body {
    padding-top: 105px
  }
}
.page-footer-icon {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  color: #333
}
